<!DOCTYPE html>
<html>

<head>
    <title>l3harris API Doc</title>
    <!-- needed for adaptive design -->
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static './css/redoc-ui.css' %}">
    <link rel="icon" type="image/png" href="{% static './img/redoc-favicon-32x32.png' %}" sizes="32x32" />
    <!-- ReDoc doesn't change outer page styles -->
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <redoc spec-url='{% url schema_url %}'></redoc>
    {% load static %}
    <script src="{% static './js/redoc.standalone.js' %}" charset="UTF-8"> </script>
</body>

</html>
