
<div>
    <p style="color:#8f8f8f; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
        Hello <b>{{ name }}</b>,<br><br>
        We have recieved your request to reset password. Please click on below link to create your new password. This
        link is valid for 15 minutes.
        <br><br>
    </p>

    <div style="text-align: center;padding: 20px">
        <a href="{{ url }}" title="Reset Password" target="_blank" style="font-size: 14px; line-height: 1.5; font-weight: 700; letter-spacing: 1px; padding: 15px 40px; text-align:center; text-decoration:none;
    color:#FFFFFF; border-radius: 50px; background-color:#2E5692;">Reset Password</a>
    </div>
</div>
