<div>
    <p style="color:#8f8f8f; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
        Hello <b>{{ fullname }}</b>,<br><br>
        Your account with l3harris has been created sucessfully.<br>
        Your login ID: {{ email }}<br>
        Your password: {{ password }}<br>
    </p>

    <div style="text-align: center;padding: 20px">

        <a href="{{ url }}" title="Login" target="_blank" style="font-size: 14px; line-height: 1.5; font-weight: 700; letter-spacing: 1px; padding: 15px 40px; text-align:center; text-decoration:none;

    color:#FFFFFF; border-radius: 50px; background-color:#2E5692;">Login Now</a>

    </div>
</div>
